@model sistemaRH.Models.Trabalho

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trabalho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrabalho" />
            <div class="form-group">
                <label asp-for="CadastroId" class="control-label"></label>
                <select asp-for="CadastroId" class="form-control" asp-items="ViewBag.CadastroId"></select>
                <span asp-validation-for="CadastroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtividadeId" class="control-label"></label>
                <select asp-for="AtividadeId" class="form-control" asp-items="ViewBag.AtividadeId"></select>
                <span asp-validation-for="AtividadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorHoraId" class="control-label"></label>
                <select asp-for="ValorHoraId" class="form-control" asp-items="ViewBag.ValorHoraId"></select>
                <span asp-validation-for="ValorHoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
